<div ng-controller="ContentCtrl">
    <div id="gallery_image" ng-repeat="gallery_image in gallery_images track by $index">
        <a ng-href="{{ gallery_image.link }}" target="_blank">
            <img class="content-image" ng-src="{{ gallery_image.thumb }}" />
        </a>
        <div ng-show="gallery_images.length>1">
            <div ng-show="gallery_image.description==null">
                <span ng-show="gallery_image.title!=null">{{ gallery_image.title }}</span>
            </div>
            <div ng-show="gallery_image.description!=null">
                <div ng-show="gallery_image.title==null">{{ gallery_image.description }}</div>
                <div tooltip="Click to toggle description"
                     ng-show="gallery_image.title!=null"
                     ng-click="toggleDescription('desc-' + gallery_image.id)">
                    <i>{{ gallery_image.title }}</i>
                </div>
            </div>
            <div id="desc-{{ gallery_image.id }}" class="gallery-description">
                {{ gallery_image.description }}
            </div>
        </div>
    </div>
</div>
