$black: #000000;
$very_dark_grey: #333;
$dark_grey: #555;
$grey: #888;
$light_grey: #aaa;
$very_light_grey: #ddd;
$white: #fff;

$very_dark_red: #300;
$dark_red: #800;
$red: #f00;
$light_red: #f55;
$very_light_red: #faa;

$very_dark_green: #030;
$dark_green: #080;
$green: #0f0;
$light_green: #5f5;
$very_light_green: #afa;

$very_dark_blue: #003;
$dark_blue: #008;
$blue: #00f;
$light_blue: #55f;
$very_light_blue: #aaf;

$very_dark_teal: #004340;
$dark_teal: #006561;
$teal: #009b95;
$light_teal: #33cdc7;
$very_light_teal: #5ccdc9;

$page_title: #B35555;
//$brick_title: #557FB3;
$brick_title: #B35555;

$up: #ff8b5a;
$down: #9492ff;