@import 'colors.scss';

html,body{
  font-family: 'Ubuntu', sans-serif;
}

hr{
  margin-top:10px;
}

#menubar{
  background-color:$very_dark_blue;
  color:$white;
  width:100%;
  height:50px;

  h3{
    margin-bottom: 0px;
  }

  #menu-buttons{
    float:right;
    padding:7px 7px 0 0;

    .btn-menu{
      float:right;
    }
  }
}

#sub-select{
  padding:10px;
}

#brick-wall{
  width:100%;
  height:100%;
  background-color:$black;
  //background-image: url("/resources/images/furley_bg.png");

  .brick{
    width: 290px;
    margin: 5px;
    border: 2px solid $white;
    border-radius: 5px;
    background-color:$white;
    overflow:hidden;

    .title{
      border-radius: 4px 4px 0 0;
      padding: 0 3px 0 3px;
      color:$white;
      background-color:rgb(109, 128, 151);
      overflow:hidden;
    }

    .content{
      text-align:center;
      overflow:hidden;

      #contentImage{
        width:288px;
        max-width:288px;
      }
    }

    .info{
      border-top: 1px solid $light_grey;

      .left{
        float:left;
        text-align:left;
      }

      .right{
        float:right;
        text-align:right;
      }
    }
  }
}

// Override Bootstrap Buttons
.btn-menu{
  background-color:$white;
  color:$very_dark_blue;
}
.btn-menu:hover{
  background-color:$white;
  color:$very_dark_blue;
}