html, body {
  font-family: 'Ubuntu', sans-serif; }
  html a, html a:visited, html a:hover, html a:active, body a, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 0.5em white; }

hr {
  margin-top: 10px; }

@media (max-width: 500px) {
  .hige_very_small {
    display: none; } }
@media (max-width: 650px) {
  .hide_small {
    display: none; } }
@media (max-width: 767px) {
  .hide_medium {
    display: none; } }
@media (max-width: 991px) {
  .hide_large {
    display: none; } }
@media (max-width: 1199px) {
  .hide_very_large {
    display: none; } }
.up {
  color: #ff8b5a; }

.down {
  color: #9492ff; }

.neutral {
  color: black; }

#menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #b35555;
  color: white;
  width: 100%;
  height: 40px;
  box-shadow: 0 0px 16px 1px black;
  text-shadow: 0 0 0.5em #703232; }
  #menubar a, #menubar a:visited, #menubar a:hover, #menubar a:active {
    color: white; }
  #menubar #connect-link {
    padding-top: 15px; }
  #menubar #menu {
    padding: 0 10px 0 10px; }
    #menubar #menu #left {
      float: left;
      width: auto;
      font-size: 22px;
      padding-top: 8px; }
    #menubar #menu #right {
      float: right; }
      #menubar #menu #right #login-loading {
        padding-right: 14px; }
      #menubar #menu #right #login-form {
        padding: 7px 7px 0 0; }
      #menubar #menu #right #welcome {
        text-align: right; }
      #menubar #menu #right .btn-connect {
        margin: 5px 0px;
        padding: 5px 10px;
        border: 0;
        background-color: #c37878;
        text-shadow: 0 0 0.5em #934242;
        height: 30px; }
        #menubar #menu #right .btn-connect:hover {
          color: white; }

#sub-select {
  position: relative;
  padding: 10px;
  padding-top: 65px; }
  #sub-select #sub-bigtext {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 68px;
    padding-right: 10px;
    padding-top: 50px;
    color: #dddddd; }

#brick-wall {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white; }
  #brick-wall .brick {
    width: 290px;
    margin: 5px;
    box-shadow: 0 0 1em #555555;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    overflow: hidden; }
    #brick-wall .brick .title {
      border-radius: 4px 4px 0 0;
      padding: 0 3px 0 3px;
      color: white;
      background-color: #557fb3;
      background: linear-gradient(to bottom, #557fb3, #426693);
      overflow: hidden;
      text-shadow: 0 0 0.5em #324e70; }
      #brick-wall .brick .title .subLink a, #brick-wall .brick .title .subLink a:visited, #brick-wall .brick .title .subLink a:hover, #brick-wall .brick .title .subLink a:active {
        color: black; }
    #brick-wall .brick .content-outer {
      overflow: hidden; }
      #brick-wall .brick .content-outer .content-inner {
        text-align: center;
        max-height: 400px;
        overflow-x: hidden; }
      #brick-wall .brick .content-outer #contentImage {
        width: 288px;
        max-width: 288px; }
    #brick-wall .brick .info {
      border-top: 1px solid #aaaaaa;
      padding: 0 5px 0 5px; }
      #brick-wall .brick .info .left {
        float: left;
        text-align: left; }
      #brick-wall .brick .info .right {
        float: right;
        text-align: right; }

#go-to-top {
  position: fixed;
  height: 32px;
  width: auto;
  bottom: -2px;
  right: 30px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-bottom: 0px;
  border-radius: 5px 5px 0 0; }
  #go-to-top img {
    padding: 3px; }

.btn-menu {
  background-color: white;
  color: #000033; }

.btn-menu:hover {
  background-color: white;
  color: #000033; }

@-webkit-keyframes zoom {
  0% {
    zoom: 100%; }

  50% {
    zoom: 200%; }

  100% {
    zoom: 100%; } }
