html, body {
  background-color: #f5f5f5;
  font-family: 'Play', sans-serif; }
  html a, html a:visited, html a:hover, html a:active, body a, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    text-shadow: 0 0 0.5em white; }

hr {
  margin-top: 10px; }

@media (max-width: 500px) {
  .hide_very_small {
    display: none; } }
@media (max-width: 650px) {
  .hide_small {
    display: none; } }
@media (max-width: 767px) {
  .hide_medium {
    display: none; } }
@media (max-width: 991px) {
  .hide_large {
    display: none; } }
@media (max-width: 1199px) {
  .hide_very_large {
    display: none; } }
@media (min-width: 501px) {
  .show_very_small {
    display: none; } }
@media (min-width: 651px) {
  .show_small {
    display: none; } }
@media (min-width: 768px) {
  .show_medium {
    display: none; } }
@media (min-width: 992px) {
  .show_large {
    display: none; } }
@media (min-width: 1200px) {
  .show_very_large {
    display: none; } }
.up {
  color: #ff8b60; }

.down {
  color: #9494ff; }

.neutral {
  color: black; }

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  width: 100%;
  height: 40px;
  box-shadow: 0 0px 16px 1px black; }
  .menubar a, .menubar a:visited, .menubar a:hover, .menubar a:active {
    color: white; }
  .menubar .layout-options {
    position: absolute;
    height: 20px;
    width: auto;
    top: 40px;
    right: 60px;
    padding: 4px;
    padding-left: 0px;
    color: white;
    border: 1px solid white;
    border-top: 0px;
    border-radius: 0 0 5px 5px; }
    .menubar .layout-options .gutter-plus {
      position: absolute;
      left: 70px;
      top: 1px;
      color: black; }
    .menubar .layout-options .gutter-minus {
      position: absolute;
      left: -18px;
      top: 1px;
      color: black; }
    .menubar .layout-options .color {
      height: 10px;
      width: 10px;
      border: 1px solid #555555;
      float: right;
      margin-left: 5px; }
      .menubar .layout-options .color.default {
        background-color: #b35555; }
      .menubar .layout-options .color.orangered {
        background-color: #ff8b60; }
      .menubar .layout-options .color.greyscale {
        background-color: #dddddd; }
      .menubar .layout-options .color.lightblue {
        background-color: #aaaaff; }
  .menubar .connect-link {
    padding-top: 15px; }
  .menubar .menu {
    padding: 0 10px 0 0; }
    .menubar .menu .left {
      float: left;
      width: auto;
      font-size: 24px;
      padding-top: 4px; }
      .menubar .menu .left .title {
        padding-left: 12px;
        font-family: 'Play', sans-serif;
        font-weight: 700; }
        .menubar .menu .left .title:hover {
          cursor: pointer; }
      .menubar .menu .left .logo {
        -webkit-animation-name: glow-white;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: infinite; }
      .menubar .menu .left .slogan {
        font-family: 'Cedarville Cursive', cursive;
        font-style: italic; }
    .menubar .menu .right {
      float: right; }
      .menubar .menu .right #login-loading {
        padding-right: 14px; }
      .menubar .menu .right #login-form {
        padding: 7px 7px 0 0; }
      .menubar .menu .right #welcome {
        text-align: right; }
        .menubar .menu .right #welcome #logout:hover {
          cursor: pointer;
          text-shadow: 0 0 1em white; }
      .menubar .menu .right .btn-connect {
        margin: 5px 0px;
        padding: 5px 10px;
        border: 0;
        height: 30px; }

#main-page #sub-select {
  position: relative;
  padding: 10px;
  padding-top: 65px; }
  #main-page #sub-select #sub-bigtext {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 68px;
    padding-right: 10px;
    padding-top: 50px;
    color: #dddddd; }
#main-page .brick-wall {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f5f5f5; }
  #main-page .brick-wall .gutter-sizer {
    width: 10px; }
  #main-page .brick-wall .brick {
    border-radius: 4px 4px 2px 2px;
    width: 290px;
    margin: 5px;
    margin-bottom: 18px;
    -webkit-box-shadow: 0px 3px 6px 0px #dddddd;
    -moz-box-shadow: 0px 3px 6px 0px #dddddd;
    box-shadow: 0px 3px 6px 0px #dddddd; }
    #main-page .brick-wall .brick hr {
      padding: 0;
      margin: 0; }
    #main-page .brick-wall .brick .content-outer {
      border-radius: 4px 4px 0 0;
      overflow: hidden; }
      #main-page .brick-wall .brick .content-outer .content-inner {
        text-align: center;
        max-height: 400px;
        overflow-x: hidden; }
        #main-page .brick-wall .brick .content-outer .content-inner .content-text {
          font-family: 'Play', sans-serif;
          font-size: 14px;
          padding: 2px; }
      #main-page .brick-wall .brick .content-outer .above-overlay {
        padding-bottom: 25px; }
      #main-page .brick-wall .brick .content-outer .content-image {
        border-radius: 4px 4px 0 0;
        width: 290px;
        max-width: 290px; }
      #main-page .brick-wall .brick .content-outer .gallery-description {
        display: none;
        padding: 1px; }
    #main-page .brick-wall .brick .info {
      padding: 0 5px 0 5px; }
      #main-page .brick-wall .brick .info .info-header {
        height: 25px;
        width: 100%;
        padding-top: 4px;
        font-size: 13px; }
        #main-page .brick-wall .brick .info .info-header .left {
          text-align: left;
          color: black;
          padding-left: 2px; }
        #main-page .brick-wall .brick .info .info-header .right {
          text-align: right;
          color: black;
          padding-right: 2px; }
        #main-page .brick-wall .brick .info .info-header a, #main-page .brick-wall .brick .info .info-header a:visited, #main-page .brick-wall .brick .info .info-header a:hover, #main-page .brick-wall .brick .info .info-header a:active {
          color: black;
          text-decoration: none;
          text-shadow: none; }
      #main-page .brick-wall .brick .info .main .left {
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: -10px; }
      #main-page .brick-wall .brick .info .main .right {
        float: right;
        text-align: center;
        padding: 0; }
        #main-page .brick-wall .brick .info .main .right .points {
          margin: 0 auto;
          padding: 0; }
      #main-page .brick-wall .brick .info .bottom {
        text-align: center;
        font-size: 13px;
        font-style: italic;
        color: #dddddd; }
        #main-page .brick-wall .brick .info .bottom .left {
          text-align: left;
          padding-left: 2px; }
        #main-page .brick-wall .brick .info .bottom .right {
          text-align: right;
          padding-right: 2px; }
        #main-page .brick-wall .brick .info .bottom a, #main-page .brick-wall .brick .info .bottom a:visited, #main-page .brick-wall .brick .info .bottom a:hover, #main-page .brick-wall .brick .info .bottom a:active {
          color: #dddddd;
          text-decoration: none;
          text-shadow: none; }
#main-page .bottom-tab {
  position: fixed;
  height: 32px;
  width: auto;
  bottom: -2px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-bottom: 0px;
  border-radius: 5px 5px 0 0; }
  #main-page .bottom-tab:hover {
    cursor: pointer; }
  #main-page .bottom-tab.go-to-top {
    right: 30px; }
    #main-page .bottom-tab.go-to-top img {
      padding: 3px; }
  #main-page .bottom-tab.go-to-top-small {
    right: 10px;
    padding: 5px 12px; }
  #main-page .bottom-tab.about-this-project {
    left: 30px; }
  #main-page .bottom-tab.about-this-project-small {
    left: 10px;
    padding: 5px 12px; }

#about-page {
  padding-top: 48px; }
  #about-page a {
    color: #5555ff;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; }
  #about-page a:hover {
    color: #ff5555; }
  #about-page hr {
    margin: 10px 0; }
  #about-page #heading {
    text-align: center;
    color: #dddddd; }
    #about-page #heading.large {
      font-size: 50px; }
    #about-page #heading.small {
      font-size: 25px; }
    #about-page #heading .back {
      cursor: pointer; }
  #about-page #disclaimer {
    padding: 0 10px;
    text-align: center; }
  #about-page #brick-wall {
    margin: 0 auto; }
    #about-page #brick-wall .brick {
      width: 290px;
      margin: 5px;
      box-shadow: 0 0 1em #ffaaaa;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #f5f5f5; }
      #about-page #brick-wall .brick .title {
        text-align: center;
        font-size: 20px;
        padding: 2px;
        border-radius: 5px 5px 0 0;
        background-color: #eaeaea; }
      #about-page #brick-wall .brick .content {
        padding: 3px;
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll; }
      #about-page #brick-wall .brick .tech {
        text-align: center;
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll; }
        #about-page #brick-wall .brick .tech img {
          max-height: 90px;
          max-width: 250px; }
        #about-page #brick-wall .brick .tech #laravel a, #about-page #brick-wall .brick .tech #laravel a:hover {
          color: #fd4f2f; }
        #about-page #brick-wall .brick .tech #jquery a, #about-page #brick-wall .brick .tech #jquery a:hover {
          color: #2174b5; }
        #about-page #brick-wall .brick .tech #angular a, #about-page #brick-wall .brick .tech #angular a:hover {
          color: #ba2730; }
        #about-page #brick-wall .brick .tech #masonry a, #about-page #brick-wall .brick .tech #masonry a:hover {
          color: #ac0ccf; }
        #about-page #brick-wall .brick .tech #mongodb a, #about-page #brick-wall .brick .tech #mongodb a:hover {
          color: #4e3629; }
        #about-page #brick-wall .brick .tech #bootstrap a, #about-page #brick-wall .brick .tech #bootstrap a:hover {
          color: #5c3f87; }
        #about-page #brick-wall .brick .tech #fontawesome a, #about-page #brick-wall .brick .tech #fontawesome a:hover {
          color: #00a072; }
      #about-page #brick-wall .brick .changelog {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 3px; }

.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.play-button {
  position: absolute;
  left: 120px;
  top: 30%;
  height: 36px;
  width: 53px; }

.btn-menu {
  background-color: white;
  color: #000033; }

.btn-menu:hover {
  background-color: white;
  color: #000033; }

.tooltip-inner {
  z-index: 1000; }

@-webkit-keyframes zoom {
  0% {
    zoom: 100%; }

  50% {
    zoom: 200%; }

  100% {
    zoom: 100%; } }
@-webkit-keyframes glow-white {
  0% {
    text-shadow: 0 0 1px white; }

  10% {
    text-shadow: 0 0 18px white; }

  20% {
    text-shadow: 0 0 1px white; }

  100% {
    text-shadow: 0 0 1px white; } }
