@import 'colors.scss';

$logoRotate: 15deg;

html,body{
  //background-image: url("/resources/images/background.png");
  font-family: 'Ubuntu', sans-serif;
  a,a:visited,a:hover,a:active{
    text-decoration:none;
    text-shadow:0 0 0.5em $white;
  }
}

hr{
  margin-top:10px;
}

@media (max-width: 500px) {
  .hide_very_small {
    display: none;
  }
}
@media (max-width: 650px) {
  .hide_small {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide_medium {
    display: none;
  }
}
@media (max-width: 991px) {
  .hide_large {
    display: none;
  }
}
@media (max-width: 1199px) {
  .hide_very_large {
    display: none;
  }
}
@media (min-width: 501px) {
  .show_very_small {
    display: none;
  }
}
@media (min-width: 651px) {
  .show_small {
    display: none;
  }
}
@media (min-width: 768px) {
  .show_medium {
    display: none;
  }
}
@media (min-width: 992px) {
  .show_large {
    display: none;
  }
}
@media (min-width: 1200px) {
  .show_very_large {
    display: none;
  }
}

.up{
  color:$up;
}

.down{
  color:$down;
}

.neutral{
  color:$black;
}

.menubar{
  position: fixed;
  top:0;
  left:0;
  z-index: 10;
  color:$white;
  width:100%;
  height:40px;
  box-shadow: 0 0px 16px 1px black;
  a,a:visited,a:hover,a:active{
    color:$white;
  }
  .layout-options{
    position:absolute;
    height:20px;
    width:auto;
    top:40px;
    right:60px;
    padding:4px;
    padding-left:0px;
    background-color:$light_grey;
    color:$white;
    border: 1px solid $white;
    border-top:0px;
    border-radius:0 0 5px 5px;
    .gutter-plus{
      position:absolute;
      left:70px;
      top:1px;
      color:$black;
    }
    .gutter-minus{
      position:absolute;
      left:-18px;
      top:1px;
      color:$black;
    }
    .color{
      height:10px;
      width:10px;
      border:1px solid $dark_grey;
      float:right;
      margin-left:5px;
      &.default{
        background-color:$brick_red;
      }
      &.orangered{
        background-color:$up;
      }
      &.greyscale{
        background-color:$very_light_grey;
      }
      &.lightblue{
        background-color:$very_light_blue;
      }
    }
  }
  .connect-link{
    padding-top:15px;
  }
  .menu{
    padding:0 10px 0 10px;
    .left{
      float:left;
      width:auto;
      font-size: 22px;
      padding-top: 8px;
      .title{
        padding-left:20px;
        &:hover {
          cursor:pointer;
        }
      }
      .logo{
        position: absolute;
        left: 0px;
        top: 5px;
        font-size: 34px;
        text-shadow: 0 0 0.2em $black;
        -webkit-transform: rotate($logoRotate);
        -moz-transform: rotate($logoRotate);
        -ms-transform: rotate($logoRotate);
        -o-transform: rotate($logoRotate);
        -webkit-animation-name: glow-white;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        &:hover {
          cursor:pointer;
        }
      }
      .slogan{
        font-family: 'Cedarville Cursive', cursive;
        font-style:italic;
      }
    }
    .right{
      float:right;
      #login-loading{
        padding-right: 14px;
      }
      #login-form{
        padding:7px 7px 0 0;
      }
      #welcome{
        text-align:right;
        #logout{
          &:hover{
            cursor:pointer;
            text-shadow: 0 0 1em $white;
          }
        }
      }
      .btn-connect{
        margin: 5px 0px;
        padding: 5px 10px;
        border: 0;
        height:30px;
      }
    }
  }
}

#main-page{
  #sub-select{
    position:relative;
    padding:10px;
    padding-top: 65px;
    #sub-bigtext{
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      text-align: right;
      font-size: 68px;
      padding-right: 10px;
      padding-top:50px;
      color: $very_light_grey;
    }
  }

  .brick-wall{
    width:100%;
    height:100%;
    margin:0 auto;
    background-color:$white;
    .gutter-sizer{
      width:10px;
    }
    .brick{
      width:290px;
      margin:5px;
      margin-bottom:18px;
      //box-shadow: 0 0 1em $dark_grey;
      -webkit-box-shadow: 0px 3px 6px 0px rgba(221,221,221,1);
      -moz-box-shadow: 0px 3px 6px 0px rgba(221,221,221,1);
      box-shadow: 0px 3px 6px 0px rgba(221,221,221,1);
      //border: 1px solid $black;
      border-radius: 2px;
      //overflow:hidden;
      hr{
        padding:0;
        margin:0;
      }
      .content-outer{
        overflow:hidden;
        .content-inner{
          text-align:center;
          max-height: 400px;
          overflow-x: hidden;
        }
        .above-overlay{
          padding-bottom:25px;
        }
        .contentImage{
          width:290px;
          max-width:290px;
        }
        .gallery-description{
          display:none;
          padding:1px;
        }
      }
      .info{
        padding: 0 5px 0 5px;
        .info-header{
          height:25px;
          width:100%;
          padding-top:4px;
          .left{
            text-align:left;
            color:$black;
            padding-left:2px;
          }
          .right{
            text-align:right;
            color:$black;
            padding-right:2px;
          }
          a,a:visited,a:hover,a:active{
            color:$black;
            text-decoration:none;
            text-shadow:none;
          }
        }
        .main{
          .left{
            font-size:13px;
            padding-top:8px;
            padding-bottom:8px;
            margin-left: -10px;
          }
          .right{
            float:right;
            text-align:center;
            padding:0;
            .points{
              margin:0 auto;
              padding:0;
            }
          }
        }
        .bottom{
          text-align:center;
          font-size:13px;
          font-style:italic;
          color:$very_light_grey;
          .left{
            font-size:13px;
            text-align:left;
            padding-left:2px;
          }
          .right{
            text-align:right;
            padding-right:2px;
          }
          a,a:visited,a:hover,a:active{
            color:$very_light_grey;
            text-decoration:none;
            text-shadow:none;
          }
        }
      }
    }
  }

  .bottom-tab{
    position:fixed;
    height:32px;
    width:auto;
    bottom:-2px;
    padding:5px;
    background-color:$black;
    color:$white;
    border: 1px solid $white;
    border-bottom:0px;
    border-radius:5px 5px 0 0;
    &:hover {
      cursor:pointer;
    }
    &.go-to-top{
      right:30px;
      img{
        padding:3px;
      }
    }
    &.go-to-top-small{
      right:10px;
      padding: 5px 12px;
    }
    &.about-this-project{
      left:30px;
    }
    &.about-this-project-small{
      left:10px;
      padding: 5px 12px;
    }
  }
}

#about-page{
  padding-top:48px;
  a{
    color:$light_blue;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
  a:hover{
    color:$light_red;
  }

  hr{
    margin: 10px 0;
  }

  #heading{
    text-align:center;
    color:$very_light_grey;
    &.large{
      font-size:50px;
    }
    &.small{
      font-size:25px;
    }
  }

  #disclaimer{
    padding:0 10px;
    text-align:center;
  }

  #brick-wall{
    margin: 0 auto;
    .brick{
      width: 290px;
      margin: 5px;
      box-shadow: 0 0 1em $very_light_red;
      border: 1px solid $black;
      border-radius: 5px;
      background-color:$white;
      .title{
        text-align:center;
        font-size: 20px;
        padding:2px;
        border-radius: 5px 5px 0 0;
        background-color:$very_light_grey;
        background: linear-gradient(
            to bottom,
            $light_grey, $white
        );
      }
      .content{
        padding:3px;
        max-height:250px;
        overflow-x:hidden;
        overflow-y:scroll;
      }
      .tech {
        text-align:center;
        max-height:250px;
        overflow-x:hidden;
        overflow-y:scroll;

        img{
          max-height: 90px;
          max-width: 250px;
        }

        #laravel{
          a,a:hover{
            color:$laravel;
          }
        }
        #jquery{
          a,a:hover{
            color:$jquery;
          }
        }
        #angular{
          a,a:hover{
            color:$angular;
          }
        }
        #masonry{
          a,a:hover{
            color:$masonry;
          }
        }
        #bootstrap{
          a,a:hover{
            color:$bootstrap;
          }
        }
        #fontawesome{
          a,a:hover{
            color:$fontawesome;
          }
        }
      }

      .changelog{
        max-height:250px;
        overflow-x:hidden;
        overflow-y:scroll;
        padding:3px;
      }
    }
  }
}

// Video play button.
.play-button{
  position: absolute;
  left:120px;
  top:30%;
  height:36px;
  width:53px;
}

// Override Bootstrap CSS
.btn-menu{
  background-color:$white;
  color:$very_dark_blue;
}
.btn-menu:hover{
  background-color:$white;
  color:$very_dark_blue;
}
.tooltip-inner{
  z-index:1000;
}

// Animations
@-webkit-keyframes zoom{
  0%{
    zoom: 100%;
  }
  50%{
    zoom: 200%;
  }
  100%{
    zoom:100%;
  }
}
@-webkit-keyframes glow-white {
  0% { text-shadow: 0 0 9px #000000; }
  10% { text-shadow: 0 0 18px #ffffff; }
  20% { text-shadow: 0 0 9px #000000; }
  100% { text-shadow: 0 0 9px #000000; }
}
