html, body {
  font-family: 'Ubuntu', sans-serif; }
  html a, html a:visited, html a:hover, html a:active, body a, body a:visited, body a:hover, body a:active {
    text-decoration: none;
    color: black; }

hr {
  margin-top: 10px; }

#menubar {
  background-color: #000033;
  color: white;
  width: 100%;
  height: 50px; }
  #menubar .menu-right {
    float: right; }
    #menubar .menu-right .login {
      padding: 7px 7px 0 0; }
    #menubar .menu-right .btn-menu {
      float: right; }

#sub-select {
  padding: 10px; }

#brick-wall {
  width: 100%;
  height: 100%;
  background-color: black; }
  #brick-wall .brick {
    width: 290px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    overflow: hidden; }
    #brick-wall .brick .title {
      border-radius: 4px 4px 0 0;
      padding: 0 3px 0 3px;
      color: white;
      background-color: #6d8097;
      overflow: hidden; }
      #brick-wall .brick .title .subLink a, #brick-wall .brick .title .subLink a:visited, #brick-wall .brick .title .subLink a:hover, #brick-wall .brick .title .subLink a:active {
        color: black; }
    #brick-wall .brick .content {
      text-align: center;
      overflow: hidden; }
      #brick-wall .brick .content #contentImage {
        width: 288px;
        max-width: 288px; }
    #brick-wall .brick .info {
      border-top: 1px solid #aaaaaa; }
      #brick-wall .brick .info .left {
        float: left;
        text-align: left; }
      #brick-wall .brick .info .right {
        float: right;
        text-align: right; }

.btn-menu {
  background-color: white;
  color: #000033; }

.btn-menu:hover {
  background-color: white;
  color: #000033; }
