@import 'colors.scss';

html,body{
  font-family: 'Ubuntu', sans-serif;
  a,a:visited,a:hover,a:active{
    text-decoration:none;
    color:$black;
  }
}

hr{
  margin-top:10px;
}

#menubar{
  background-color:$very_dark_blue;
  color:$white;
  width:100%;
  height:50px;

  .menu-right{
    float:right;

    #login-loading{
      padding-right: 14px;
    }

    #login-form{
      padding:7px 7px 0 0;
    }

    #welcome{
      text-align:right;
    }

    .btn-menu{
      float:right;
    }
  }
}

#sub-select{
  padding:10px;
}

#brick-wall{
  width:100%;
  height:100%;
  margin: 0 auto;
  background-color:$white;
  //background-image: url("/resources/images/furley_bg.png");

  .brick{
    width: 290px;
    margin: 5px;
    box-shadow: 0 0 1em $dark_grey;
    border: 1px solid $black;
    border-radius: 5px;
    background-color:$white;
    overflow:hidden;

    .title{
      border-radius: 4px 4px 0 0;
      padding: 0 3px 0 3px;
      color:$white;
      background-color:rgb(109, 128, 151);
      overflow:hidden;

      .subLink{
        a,a:visited,a:hover,a:active{
          color:$black;
        }
      }
    }

    .content-outer{
      overflow:hidden;
      .content-inner{
        text-align:center;
        max-height: 400px;
        overflow-x: hidden;
      }

      #contentImage{
        width:288px;
        max-width:288px;
      }
    }

    .info{
      border-top: 1px solid $light_grey;

      .left{
        float:left;
        text-align:left;
      }

      .right{
        float:right;
        text-align:right;
      }
    }
  }
}

// Override Bootstrap Buttons
.btn-menu{
  background-color:$white;
  color:$very_dark_blue;
}
.btn-menu:hover{
  background-color:$white;
  color:$very_dark_blue;
}