.menubar {
  background-color: #aaaaff;
  text-shadow: 0 0 0.5em #4444ff; }
  .menubar .layout-options {
    background-color: #aaaaff; }
  .menubar .menu .right .btn-connect {
    background-color: #ddddff;
    text-shadow: 0 0 0.5em #7777ff; }

.brick-wall .brick {
  background-color: white; }
  .brick-wall .brick .main .left a, .brick-wall .brick .main .left a:visited, .brick-wall .brick .main .left a:hover, .brick-wall .brick .main .left a:active {
    color: #5555ff;
    text-decoration: none;
    text-shadow: none; }
