.menubar {
  background-color: #aaaaaa;
  text-shadow: 0 0 0.5em #777777; }
  .menubar .toggle-options {
    background-color: #aaaaaa; }
  .menubar .layout-options {
    background-color: #aaaaaa; }
  .menubar .menu .right .btn-connect {
    background-color: #c3c3c3;
    text-shadow: 0 0 0.5em #909090; }

.brick-wall .brick {
  background-color: white; }
  .brick-wall .brick .main .left a, .brick-wall .brick .main .left a:visited, .brick-wall .brick .main .left a:hover, .brick-wall .brick .main .left a:active {
    color: #888888;
    text-decoration: none;
    text-shadow: none; }
