.menubar {
  background-color: #b35555;
  text-shadow: 0 0 0.5em #703232; }
  .menubar .toggle-options {
    background-color: #b35555; }
  .menubar .layout-options {
    background-color: #b35555; }
  .menubar .menu .right .btn-connect {
    background-color: #c37878;
    text-shadow: 0 0 0.5em #934242; }

.brick-wall .brick {
  background-color: white; }
  .brick-wall .brick .main .left a, .brick-wall .brick .main .left a:visited, .brick-wall .brick .main .left a:hover, .brick-wall .brick .main .left a:active {
    color: #b35555;
    text-decoration: none;
    text-shadow: none; }
