@import 'colors.scss';

.menubar{
  background-color:$very_light_blue;
  text-shadow: 0 0 0.5em darken($very_light_blue,20);
  .menu{
    .right{
      .btn-connect{
        background-color:lighten($very_light_blue,10);
        text-shadow: 0 0 0.5em darken($very_light_blue,10);
      }
    }
  }
}

.brick-wall{
  .brick{
    background-color:lighten($very_light_grey,20);
    .main{
      .left{
        a,a:visited,a:hover,a:active{
          color:$light_blue;
          text-decoration:none;
          text-shadow:none;
        }
      }
    }
  }
}