@import 'colors.scss';

.menubar{
  background-color:$up;
  text-shadow: 0 0 0.5em darken($up,20);
  .toggle-options{
    background-color:$up;
  }
  .layout-options{
    background-color:$up;
  }
  .menu{
    .right{
      .btn-connect{
        background-color:lighten($up,10);
        text-shadow: 0 0 0.5em darken($up,10);
      }
    }
  }
}

.brick-wall{
  .brick{
    background-color:lighten($very_light_grey,20);
    .main{
      .left{
        a,a:visited,a:hover,a:active{
          color:$down;
          text-decoration:none;
          text-shadow:none;
        }
      }
    }
  }
}